#wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#wrapper td {
  vertical-align: middle;
  text-align: center;
}

ion-content{
  --ion-background-color: #F8F8F8;
}

.footer_color{
  background-color:whitesmoke !important;
  // color:white;
  // height:15%;
}
