.otp {
    color: darkgray;
    border-style: none;
    width: 50px;
    height: 60px;
    font-size: 50px;
  }
  
  td {
    border: 2px solid darkgray
  }
  
  table {
    border-collapse: collapse;
  }

  .btn-wrapper {
    text-align: center;
  }

.footer_color{
  background-color:#6fa833 !important;
  color:white
}