<ion-header>
  <ion-toolbar>
    <ion-title>Add Delivery Instructions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Instructions</ion-label>
          <ion-textarea #comment auto-grow=true autofocus=true rows="6" cols="30"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer_color" (click)="addDeliveryInstructions(comment.value)">
    <ion-button [disabled]="!comment.value" expand="block" fill="clear" style="color:#fff !important">
        ADD Delivery Instructions
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-footer>