.user-info-button-enabled {
    // height: 42px;
    // width: 78px;
    // margin-left: 18px;
    --background: #6fa833;
    --color: #fff;
    // font-size: 17px;
  }
  
  .user-info-button-disabled {
    // height: 42px;
    // width: 78px;
    // margin-left: 18px;
    --background: #d0e9b6 !important;
    --color: #000;
    // font-size: 17px;
  }