<ion-header>
  <ion-toolbar>
    <ion-title>Add Personal Information</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form (ngSubmit)="addUserInformation()" [formGroup]="addUserInfoForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input #myinput type="text" name="customer_name" [formControl]="addUserInfoForm.controls['customer_name']" [(ngModel)]="registerCredentials.customer_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="registerCredentials.email" [formControl]="addUserInfoForm.controls['email']"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Date of birth</ion-label>
            <ion-input type="text" name="customer_dob" [(ngModel)]="registerCredentials.customer_dob" [formControl]="addUserInfoForm.controls['customer_dob']"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" color="primary" expand="block">
            ADD Information
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>