<ion-header>
    <ion-toolbar>
        <ion-title>My Orders</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!customerordercount && !isLoading" class="outer_empty_cart_wrap">
        <div class="innerCartWrap">
            <ion-icon name="ios-clock-outline" style="zoom:3.0;"></ion-icon>
            <span style="color:#b61671;display:block;">You haven't placed any orders yet.</span>
        </div>
    </div>
    <div *ngIf="!customerordercount && !isLoading" class="outer_continue_shopping_button">
        <ion-button fill="clear" (click)="startShopping()" class="inner_continue_shopping_button">START SHOPPING</ion-button>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col size-md="8" offset-md="2" text-center *ngIf="isLoading">
                <ion-spinner color="primary"></ion-spinner>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" *ngIf="!isLoading">
                <ion-text>
                        Total order count : {{ordersList?.length}}
                </ion-text>
            </ion-col>
        </ion-row>
        <div *ngIf="ordersList?.length > 0">
            <div *ngFor="let item of ordersList" (click)="orderdetails(item.order_id)" style="border:1px solid grey;margin-bottom :10px; background:white">
                <ion-row>
                    <ion-col size="4" class="item-text-wrap" text-wrap>
                        <strong>
                            {{item?.store_name}}
                        </strong>
                    </ion-col>
                    <ion-col size="4">
                        <span>
                            &#8377; {{item?.final_amount}}
                        </span>
                    </ion-col>
                    <ion-col size="4">
                        <span style="color:#b61671">View Details</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <span style="color:#b61671">
                            {{item?.order_placing_date| date : "EEE, dd-MM-y"}}
                        </span>
                    </ion-col>
                    <ion-col size="4">
                        <!-- this needs to be worked later -->
                        <span>Paid</span>
                    </ion-col>
                    <ion-col size="4">
                        <span style="color:#99c655" *ngIf="item?.payment_mode">{{item?.payment_mode_type}}</span>
                    </ion-col>
                </ion-row>
                <ion-row style="font-size:0.7em;color:#606060">
                    <ion-col size="4">
                        Delivery Date
                    </ion-col>
                    <ion-col size="4">
                        Payment Status
                    </ion-col>
                    <ion-col size="4">
                        Payment Mode
                    </ion-col>
                </ion-row>
                <ion-row style="font-size:0.8em;text-align: center;display: flex;
                              justify-content: center;">
                    <span>
                        Order has been {{item?.order_status}} by Grostep
                    </span>
                </ion-row>
            </div>
        </div>
    </ion-grid>

</ion-content>