<ion-header>
    <ion-toolbar>
        <ion-title>My Orders</ion-title>
        <ion-buttons slot="start">
            <ion-back-button (click)="backToHome()" defaultHref=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!customerordercount && !isLoading" class="outer_empty_cart_wrap">
        <div class="innerCartWrap">
            <ion-icon class="noliveordericon" name="clock"></ion-icon>
            <span style="color:#b61671;display:block;text-align: center;">You haven't placed any orders yet.</span>
        </div>
    </div>
    <div *ngIf="!customerordercount && !isLoading" class="outer_continue_shopping_button">
        <ion-button fill="clear" (click)="startShopping()" class="inner_continue_shopping_button">START SHOPPING</ion-button>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col size-md="8" offset-md="2" class="ion-text-center" *ngIf="isLoading">
                <!-- <ion-spinner color="primary"></ion-spinner> -->
                <ion-list id="skeleton" *ngIf="isLoading">
                    <!-- <ion-list-header>
                                  <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
                                </ion-list-header> -->
                    <ion-item style="padding-bottom:6px;" lines="none" class="ion-no-padding" *ngFor="let number of skeletonStoreCount">
                        <ion-thumbnail slot="start">
                            <ion-skeleton-text></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </h3>
                            <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isLoading && customerordercount > 0">
            <ion-col size="12">
                <ion-text>
                    Total order count : {{customerordercount}}
                </ion-text>
            </ion-col>
        </ion-row>
        <div *ngIf="!isLoading && customerordercount > 0">
            <div *ngFor="let item of ordersList" (click)="orderdetails(item.order_id)" style="background-color: #f4f4f4;
                height: 175px;border-radius: 10px 10px;padding: 5px;margin-bottom: 10px;">
                <ion-row>
                    <ion-col size="4" class="item-text-wrap">
                        <strong>
                            {{item?.store_name}}
                        </strong>
                    </ion-col>
                    <ion-col size="4">
                        <span>
                            &#8377; {{item?.final_amount}}
                        </span>
                    </ion-col>
                    <ion-col size="4">
                        <span style="color:#28667C">View Details</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <span style="color:#28667C">
                            {{item?.order_placing_date| date : "EEE, dd-MM-y"}}
                        </span>
                    </ion-col>
                    <ion-col size="4">
                        <!-- this needs to be worked later -->
                        <span>{{item?.payment_status}}</span>
                    </ion-col>
                    <ion-col size="4">
                        <span style="color:#99c655" *ngIf="item?.payment_method_name">{{item?.payment_method_name}}</span>
                    </ion-col>
                </ion-row>
                <ion-row style="font-size:14px;color:#606060">
                    <ion-col size="4">
                        Delivery Date
                    </ion-col>
                    <ion-col size="4">
                        Payment Status
                    </ion-col>
                    <ion-col size="4">
                        Payment Mode
                    </ion-col>
                </ion-row>
                <ion-row style="font-size:16px;text-align: center;display: flex;padding-bottom:5px;
                              justify-content: center;">
                    <span>
                        Order #{{item?.order_id}} is <strong>{{item?.order_status | lowercase}}</strong>
                        <!-- by Grostep -->
                    </span>
                </ion-row>
            </div>
        </div>
    </ion-grid>
    <ion-infinite-scroll threshold="15%" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more orders...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>