<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Grostep</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar>
      <ion-title>About Grostep</ion-title>
      <ion-buttons slot="start">
        <ion-back-button (click)="backToHome()" defaultHref="/home/tabs/profile"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-grid>
    <ion-row padding="none" style="background-color: #f3f9ed">
      <ion-col size="12">
        <img class="logocss" src="assets/images/applogo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="font-weight:bold;font-size:18px;color:#8fc951">
          GROSTEP
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-size:16px;color:#808080" text-wrap>
        <div>
            <div style="display:block;margin-bottom: 15px;">
                Simplifying online grocery shopping with quick ordering and accurate delivery from a personal shopper.
            </div>
            <div>
                Grostep is a same-day grocery delivery service that deploys a crowdsourced shopper to preferred local retailers to source the items our customers want. Our mobile app is simple and intuitive, but powerfully accurate at connecting customers to the right products. In our system of proxy shopping, the customer can communicate with the shopper as frequently or be as hands-off as they like. We are creating an intelligent personal shopping experience, in which recommendations and painless reordering flow into delivery by Grostep Personal Shoppers the customer comes to know and trust.
            </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>