<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Grostep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img style="width:100%" src="assets/images/default_image.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="font-weight:bold;font-size:1.1em">
          GROSTEP
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-size:1em" text-wrap>
        <div>
          Grostep is brought to you by Field Fresh UmandAgro.Founded in 2017, Field Fresh UmandAgro is starting work to strengthen
          fruit and vegetable trade by offering producers, wholesalers and retailers a long-term partnership aimed at improving
          profitability in the supply chain for fruit and vegetables on a unique FSC principle: the chain that is FRESH,
          SIMPLE and CLOSER with its all too obvious advantages.Over the years we understood many issues stakeholders were
          facing with their fresh fruit and vegetables business. With our years of experience working in stores, sourcing,
          procurement, developing warehouses, building and executing logistics and distribution plans, we assisted growers
          and traders alike in the areas of improving quality, raising productivity reducing cost of production, marrying
          technology with business, reducing shrink & waste, training manpower, and covering many other areas in the perishable
          produce domain.Grostep delivered proven know-how and experience in building thin & lean yet robust fresh supply
          chains and deliver practical retailing, sourcing, warehousing, logistics, operations and sales improvements for
          overall supply chain & retail business development and profitability and had a successful track record of working
          across diverse geographies, time zones, cultural and linguistic diversities.The fresh produce trade has remained
          under served by technology so far because of the trade complexity (read long chain of intermediaries, perishability,
          opacity, price volatility, liquidity, lack of standardization etc), trade barriers of various kinds (trust and
          quality assurance apart legal and regulatory aspects), insufficient information on product and service availability,
          infrastructure bottlenecks and lack of right knowledge at the right time at the right place but more so because
          of low availability of people who could understand the finer nuances of both fresh produce trade and modern technology
          platforms and have the requisite match making skillset and expertise to build something for fresh produce business
          using technology.Our goal at Grostep app is to create a virtual World where anyone can freely trade products and
          services related to fruit and vegetables irrespective of geographic, cultural, regulatory, logistical boundaries.We
          are going to be only tech-driven fresh produce company offering linkages to wide array of services related to sector
          \u2013 right from farm to kitchen in fruit and vegetable sector.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>