<ion-header>
  <ion-toolbar>
    <ion-title>Review Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="backToHome()" defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col size="12" size-md="8" offset-md="2" class="ion-text-center" *ngIf="isLoading">
      <div class="spin" *ngIf="isLoading">
          <ion-spinner name="bubbles"></ion-spinner>
      </div>    
  </ion-col>
  <div *ngIf="!cartList?.length && !isLoading" class="outer_empty_cart_wrap">
    <div class="innerCartWrap">
      <ion-icon class="noliveordericon" name="cart"></ion-icon>
      <span style="color:#b61671;font-size:18px">Your cart is empty!</span>
    </div>
  </div>
  <div *ngIf="!cartList?.length && !isLoading" class="outer_continue_shopping_button">
    <ion-button fill="clear" (click)="continueShopping()" class="inner_continue_shopping_button">CONTINUE SHOPPING</ion-button>
  </div>
  <ion-grid *ngIf="cartList?.length && !isLoading" class="ion-no-padding" style="display: flex; flex-flow: column;">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list *ngIf="cartList?.length" [ngClass]="{'open-storeclass': storeClosingStatus == 0, 'close-storeclass':storeClosingStatus == 1 }">
          <ion-item-divider *ngIf="cartStoreName" style="font-weight: 400;
            color: #191919;
            font-size: 16px;
            padding: 2px 0px 8px 0px;" [ngClass]="{'open-storeclass': storeClosingStatus == 0, 'close-storeclass':storeClosingStatus == 1 }">
            <!-- <div id="myTable">
              <span style="background: red">one</span>
              <span style="background: yellow">two</span>
              <span style="background: red">three</span>
          </div>           -->
            <!-- <span>{{cartStoreName}}</span>
          <div style="font-weight: bold;margin: 0 auto;">
            {{ storeClosingStatus == 1 ? 'CLOSED' : 'OPEN' }}
          </div> -->
            <div style="width:100%">
              <div style="float:left; width:40%;">{{cartStoreName}}</div>
              <div style="float:left;font-weight: bold;width:40%">{{ storeClosingStatus == 1 ? 'CLOSED' : 'OPEN' }}</div>
              <div style="float:left; width:20%;" (click)="deleteCart()">
                <ion-icon style="font-size: 18px; color: red; border: 1px solid; padding: 1px;" name="trash">
                </ion-icon>
              </div>
            </div>
            <!-- <span>{{cartStoreName}}</span>
            <span>{{ storeClosingStatus == 1 ? 'CLOSED' : 'OPEN' }}</span>
            <span><ion-icon name="trash"></ion-icon></span> -->
            <!-- <div style="font-weight: bold;margin: 0 auto;">
              {{ storeClosingStatus == 1 ? 'CLOSED' : 'OPEN' }}
            </div> -->
          </ion-item-divider>
          <ion-item lines="none" [ngClass]="{'open-storeclass': storeClosingStatus == 0, 'close-storeclass':storeClosingStatus == 1 }"
            *ngFor="let product of cartList">
            <ion-thumbnail slot="start">
              <ion-img *ngIf="product?.image_url" [src]="product.image_url"></ion-img>
              <!-- <ion-img *ngIf="!product?.image_url" src="../../../../assets/images/default_image.jpg"></ion-img> -->
            </ion-thumbnail>
            <ion-label>
              <h2 style="padding-top:0;display:inline">
                {{product?.product_name}}
              </h2>
              <p>Quantity : {{product?.weight + ' ' + product?.weight_text}}</p>
              <p style="font-weight:bold">Price : &#8377; {{product?.store_selling_price}} x {{product?.quantity}} = &#8377; {{product?.store_selling_price
                * product?.quantity| number : '1.2-2'}}
                <span *ngIf="product?.stock && storeClosingStatus == 0" style="width: 120px;height: 35px;float:right;color:white">
                  <span (click)="quantityMinus(product)" style="width:45px;background-color:#8fc951;
                                          border-radius: 5px 0px 0px 5px;
                                          line-height: 35px;text-align:center;display: inline-block;height: 35px;font-size:1.2em;">
                    -
                  </span>
                  <span *ngIf="product?.quantity > 0" style="width:30px;background-color:#8fc951;
                                        line-height: 35px;text-align:center;display: inline-block;
                                               height: 35px;font-size:1.2em;">
                    {{product?.quantity}}
                  </span>
                  <span style="width:45px;background-color:#8fc951;
                                        line-height: 35px;text-align:center;display: inline-block;
                                        border-radius: 0px 5px 5px 0px;
                                               height: 35px;font-size:16px;" (click)="quantityPlus(product);">
                    +
                  </span>
                </span>
                <span expand="block" fill="clear" *ngIf="!product?.stock && storeClosingStatus == 0" class="outofstockButton">OUT OF STOCK</span>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="cartList?.length">
      <ion-col size-sm="8" offset-sm="2" class="ion-text-center" [ngClass]="{'open-storeclass': storeClosingStatus == 0, 'close-storeclass':storeClosingStatus == 1 }">
        <ion-list>
          <ion-item *ngIf="(voucher | json) === '{}'" (click)="applyVoucher()" lines="none" style="background-color:whitesmoke">
            <ion-icon slot="start" name="paper"></ion-icon>
            <ion-label>Apply coupon code</ion-label>
          </ion-item>
          <ion-item *ngIf="(voucher | json) != '{}'" lines="none" style="background-color:whitesmoke">
            <ion-label>{{voucher?.voucher_code}} - Applied</ion-label>
            <ion-button (click)="removeVoucher(voucher?.voucher_id)">
              Remove
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> -->

    <ion-row style="flex-grow: 1;">
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center" [ngClass]="{'open-storeclass': storeClosingStatus == 0, 'close-storeclass':storeClosingStatus == 1 }">
        <ion-list *ngIf="cartList?.length">
          <ion-item lines="none">
            <label>Amount To Pay</label>
            <span slot="end">&#8377; {{totalAmount| number : '1.2-2'}}
            </span>
          </ion-item>
          <ion-item lines="none">
            <label>Discount</label>
            <!-- <span slot="end"> - &#8377; {{getVoucherAmount()| number : '1.2-2'}} -->
            <span slot="end"> - &#8377; {{(voucher?.voucher_amount ? voucher?.voucher_amount : 0) | number : '1.2-2'}}
            </span>
          </ion-item>
          <ion-item lines="none">
            <label>Grand Total</label>
            <span slot="end" style="font-weight:bold">&#8377; {{totalAmount - (voucher?.voucher_amount ? voucher?.voucher_amount : 0) | number : '1.2-2'}}
            </span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer *ngIf="!storeClosingStatus && !isLoading && cartList?.length ">
  <ion-grid>
    <ion-row *ngIf="!!currentuser && addressCount > 0">
      <ion-col size="7">
        <p>
          <span style="display: block;font-weight: bold;">
            <ion-icon name="home"></ion-icon>
            Deliver to {{selectedAddress?.type}}
          </span>
          {{selectedAddress.flatNumber}}, {{selectedAddress.address2}}
        </p>
        <p *ngIf="addressCount > 1">
          <ion-button style="float: left;margin: -5px;" [disabled]="storeClosingStatus" (click)="changeAddress()" expand="block" fill="clear"
            color="primary"> Change Address </ion-button>
        </p>
      </ion-col>
      <ion-col size="5">
        <ion-button [disabled]="storeClosingStatus" (click)="addAddress()" expand="block" fill="clear" color="primary"> Add Address </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="footer_color" *ngIf="!!currentuser">
      <ion-col size="12">
        <ion-button *ngIf="!!currentuser && addressCount > 0 && cartList?.length > 0 && !outOfStockProductExist" expand="full" (click)="checkout()"
          fill="clear" class="cart-button-class">
          Checkout
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!!currentuser && addressCount == 0 && !outOfStockProductExist" expand="full" (click)="addAddress()" fill="clear"
          class="cart-button-class">
          Add Delivery Address
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!!currentuser && addressCount > 0 && outOfStockProductExist" expand="full" (click)="removeOutOfStockProduct()"
          fill="clear" class="cart-button-class">
          Remove Out of Stock Product and continue
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="footer_color" *ngIf="!currentuser">
      <ion-col size="12">
        <ion-button *ngIf="!currentuser" expand="block" (click)="login()" fill="clear" class="cart-button-class">
          Login
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>