.innerCartWrap {
    width: 200px;
    text-align: center;
}

.outer_empty_cart_wrap
{
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    flex-wrap:wrap;
    /* align vertical */        
    width: 100%;
    height: 100%
}

ion-content{
    --ion-background-color: #F8F8F8;
}
