<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Grostep</ion-title>
  </ion-toolbar>
</ion-header>
      <!-- background: green; -->
      <!-- zoom: 3.0; -->
<ion-content>
  <div class="outer_empty_cart_wrap">
    <div class="innerCartWrap">
      <ion-icon name="navigate" style="
      font-size: 30px;
      display: block;
      left: 40%;
      position: relative;
      color: #000;
      margin-bottom: 10px;" ></ion-icon>
      <span style="color:#28667C;font-size: 20px;">We are not here yet!</span>
    </div>
  </div>
  <div class="outer_continue_shopping_button">
    <ion-button fill="clear" (click)="editLocation()" class="inner_continue_shopping_button">Edit Location</ion-button>
  </div>
</ion-content>