page-delivery-address {

}

.alertDanger{
    // background-color: white !important;
    color: green !important;
    text-decoration-color: black !important;
    button{
        color: green !important;
    }
}

.deliveryaddressbutton
{
   width:80% !important;
   color: #fff;
   font-size: 16px;
   background-color:#84c225 !important;
   font-family: ProximaNovaA-Semibold;
   float:middle !important;
   border: 1px solid #84c225; 
   margin:0 auto !important;
}

.footer_color{
    background-color:#6fa833 !important;
    color:white
}