.slide-overflow {
    display: -webkit-box;
    overflow-x: scroll;
  }
  .flex-warp-list {
    flex-wrap: nowrap;
  }

  img {
    width: 100vw !important;
  }

  ion-content{
    --ion-background-color: #F8F8F8;
}

