
.cartlengthlogo
{
    font-size: 12px;
    background: #6fa833;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    float: right;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3px;
    position: absolute;
    right: 17px;
}