<ion-header>
  <ion-toolbar>
    <ion-title>Payment Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <img style="display: block;margin: auto;width: auto;" src="assets/images/Order-Confirm-icon.png">
    </ion-item>
    <ion-item lines="none">
      <p style="font-weight:bold;" class="ion-text-wrap">
        Order # {{orderId}} placed successfully.</p>
    </ion-item>
    <ion-item lines="none">
      <p class="ion-text-wrap">
        You will recieve notification shortly. Please check your order list for more details.
      </p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-row>
        <!-- [routerLink]="['/','order','liveordertrackingdetail',orderId]" -->
        <ion-col (click)="liveTrackOrder()" class="footer_color" size="6">
          <ion-button expand="block" fill="clear" style="color:#fff !important;  --color-activated: #fff;">
              Live Tracking
              <ion-icon name="navigate"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col (click)="continueShopping()" style="background-color:#e2edd6 !important;" size="6">
            <ion-button expand="block" fill="clear" style="color:#000 !important;
            --background-activated:#e2edd6;--color-activated: #000;">
                CONTINUE SHOPPING
            </ion-button>
          </ion-col>
      </ion-row>
</ion-footer>