.footer_color{
    background-color:#6fa833 !important;
    color:white
}

ion-content{
    // --ion-background-color: #Ffff;
    --ion-background-color: #F8F8F8;
}

ion-button {
    --color-activated: #fff;
}