<ion-header>
  <ion-toolbar>
    <ion-title>Payment Options</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" style="--ion-background-color:#fff" (click)="togglecartlist()">
          <ion-label>Total
            <span *ngIf="cartList?.length > 0">{{cartList?.length}}</span> Items
            <ion-icon style="float:right;" color="success" [name]="showDetails ? 'arrow-up' : 'arrow-down'"></ion-icon>
          </ion-label>
        </ion-item>
        <div *ngIf="showDetails">
          <ion-item *ngFor="let product of cartList" style="--ion-background-color:#fff">
            <ion-thumbnail slot="start">
              <ion-img *ngIf="product?.image_url" [src]="product.image_url"></ion-img>
              <ion-img *ngIf="!product?.image_url" src="assets/images/default_image.jpg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2 style="padding-top:0;white-space: pre-line">{{product?.product_name}}</h2>
              <p style="font-weight:bold;">{{product?.weight + ' ' + product?.weight_text }}</p>
              <p>
                <span style="font-weight:bold;">
                  &#8377; {{product?.store_selling_price }} x {{product?.quantity}} = &#8377; {{product?.store_selling_price * product?.quantity| number : '1.2-2'}}
                </span>
              </p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item style="--ion-background-color:#fff" lines="none" (click)="toggleDeliveryAddress()">
          <ion-label>Delivery Address
            <ion-icon style="float:right;" color="success" [name]="showDeliveryAddress ? 'arrow-up' : 'arrow-down'"></ion-icon>
          </ion-label>
        </ion-item>
        <div *ngIf="showDeliveryAddress">
          <ion-list style="padding:12px;background-color:#fff;" text-wrap>
            <span style="display: block;font-size:1.1em;padding:5px 0px;">
              <b>Name: </b>{{addressinfo?.customer_name}} </span>
            <span style="display: block;font-size:1.1em;padding:5px 0px;">
              <b>Address: </b>{{addressinfo.flatNumber}}, {{addressinfo.address}} {{addressinfo.address2}}</span>
            <span style="display: block;font-size:1.1em;padding:5px 0px;">
              <b>Pincode: </b>{{addressinfo?.pincode}}
            </span>
            <span style="display: block;font-size:1.1em;padding:5px 0px;">
              <b>Phone Number: </b>{{addressinfo?.delivery_phone}}
            </span>
            <span style="display: block;font-size:1.1em;padding:5px 0px;">
              <!-- | date: 'dd/MM/yyyy' -->
              <b>Delivery Date: </b>{{selectedeliverydate}}
            </span>
            <span *ngIf="!delivernow" style="display: block;font-size:1.1em;padding:5px 0px;">
              <b>Delivery Time: </b>{{selectedeliverytime}}
            </span>
            <span *ngIf="delivernow" style="display: block;font-size:1.1em;padding:5px 0px;">
              <b>Estimated Delivery Time: </b>{{selectedeliverytime}}
            </span>
            <span *ngIf="deliveryInstructions" style="display: block;padding:5px 0px;white-space: pre-line">
              <b>Delivery Instructions: </b> {{deliveryInstructions}}
            </span>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item style="--ion-background-color:#fff" (click)="togglepayment()" lines="none">
          <ion-label>
            <span>Total Payable Amount </span>
            <ion-icon style="float:right;" color="success" [name]="showPaymentDetails ? 'arrow-up' : 'arrow-down'"></ion-icon>
          </ion-label>
        </ion-item>
        <div *ngIf="showPaymentDetails">
          <ion-list style="padding-bottom:0px !important;">
            <ion-item *ngIf="(voucher | json) === '{}'" (click)="applyVoucher()" lines="none" style="--ion-background-color:#fff;font-weight:bold;">
              <ion-icon slot="start" name="paper" style="color: #000;font-weight: 700;"></ion-icon>
              <ion-label>Apply coupon code</ion-label>
            </ion-item>
            <ion-item *ngIf="(voucher | json) != '{}'" lines="none" style="--ion-background-color:#fff;font-weight:bold;">
              <ion-label>{{voucher?.voucher_code}} - Applied</ion-label>
              <ion-button (click)="removeVoucher(voucher?.voucher_id)">
                Remove
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="showPaymentDetails">
          <ion-list *ngIf="cartList?.length">
            <ion-item lines="none" style="--ion-background-color:#fff">
              <label>Amount To Pay</label>
              <span slot="end">&#8377; {{ totalAmount | number : '1.2-2'}}
              </span>
            </ion-item>
            <ion-item lines="none" style="--ion-background-color:#fff">
              <label>Delivery Charge</label>
              <span slot="end">&#8377; {{ deliveryCharge | number : '1.2-2'}}
              </span>
            </ion-item>
            <ion-item lines="none" style="--ion-background-color:#fff;font-weight:bold;">
              <label>Voucher Amount</label>
              <!-- <span slot="end"> - &#8377; {{getVoucherAmount()| number : '1.2-2'}} -->
              <span slot="end"> - &#8377; {{(voucher?.voucher_amount ? voucher?.voucher_amount : 0) | number : '1.2-2'}}
              </span>
            </ion-item>
            <ion-item lines="none" style="--ion-background-color:#fff">
              <label>Grand Total</label>
              <!-- <span slot="end" style="font-weight:bold">&#8377; {{getPayableAmount()| number : '1.2-2'}} -->
                  <span slot="end" style="font-weight:bold">&#8377; {{totalAmount - (voucher?.voucher_amount ? voucher?.voucher_amount : 0) + deliveryCharge  | number : '1.2-2'}}
              </span>
            </ion-item>
          </ion-list>
        </div>
        <div>
          <ion-list>
            <div style="font-weight:bold;padding-bottom:10px;margin:0px 0px 5px 10px;">
              Payment Options
            </div>
            <!-- let i=index -->
            <ion-item *ngFor="let item of options;" style="--ion-background-color:#fff">
              <ion-label>{{item?.payment_method_name}}</ion-label>
              <ion-checkbox slot="end" [ngModel]="checkedIdx == item?.payment_method_id" (ngModelChange)="changePaymentOption($event,item?.payment_method_id)"></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
      <ion-col style="background-color: #fff;" *ngIf="isLoading" size="12" size-md="8" offset-md="2" text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
    <!-- <ion-row style="background-color: #fff;" *ngIf="isLoading">
      <ion-col size="12" size-md="8" offset-md="2" text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>

<ion-footer *ngIf="checkedIdx != -1">
  <ion-row class="footer_color">
    <ion-col size="12">
      <ion-button expand="block" [disabled]="confirmedOrder" (click)="confirmOrder()" fill="clear" style="color:#fff !important;">
        PLACE ORDER
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>