.innerCartWrap {
    width: 200px;
    text-align: center;
}

.outer_empty_cart_wrap
{
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    flex-wrap:wrap;
    /* align vertical */        
    width: 100%;
    height: 100%
}

ion-content{
    // --ion-background-color: #F8F8F8;
}

// ion-card {
//     // background-color: #f5f5f5;
// }

.vouchercss {
    color: black;
                    /* font-weight: bold; */
                    /* margin-left: 51px; */
                    font-size: 14px;
                    width: 180px;
                    border: 1px solid #edf7e3;
                    padding: 10px;
                    margin-left:-4px;
                    outline: none;
                    background: #edf7e3;
                    border-radius: 5px 5px;
}

.line{
    width: 95%;
    /* height: 47px; */
    border-bottom: 1px solid #d8d8d8;
    position: absolute;
    }

.applyenabledcss {
    float: right; 
                    font-weight: 600;
                    color: #6fa833;
                    font-size: 16px;
}

.applydisabledcss {
    float: right; 
                    // font-weight: 600;
                    color:#c4c4c4;
                    // color: #6fa833;
                    font-size: 16px;
}

.noliveordericon {
    color: #b61671;
    display: block;
    /* text-align: center; */
    /* align-items: center; */
    margin: auto;
    font-size: 50px;
}